In [1]:
for i in range(0,11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [5]:
num = int(input("enter the number of rows : "))
for i in range(1,num+1):
    for j in range(1,i+1):
        print("*",end=" ")
    print()

enter the number of rows :  5

*
* *
* * *
* * * *
* * * * *

In [8]:
num = int(input("Enter the number of rows : "))
for i in range(num,0,-1):
    for j in range(0,i):
        print("*",end=" ")
    print()

Enter the number of rows :  5

* * * * *
* * * *
* * *
* *
*

In [6]:
num = int(input("enter the number of rows : "))
for i in range(1,num+1):
    for j in range(1,i+1):
        print("1",end=" ")
    print()

enter the number of rows :  3

1
1 1
1 1 1

In [8]:
num = int(input("enter the number of rows : "))
k = 1
for i in range(1,num+1):
    for j in range(1,k+1):
        print("*",end=" ")
    k = k+2
    print()

enter the number of rows :  4

*
* * *
* * * * *
* * * * * * *

In [1]:
num = int(input("Enter the number of rows : "))
for i in range(0,num):
    for j in range(0,num-i-1):
        print(end=" ")
    for j in range(0,i+1):
        print("*",end=" ")
    print()

Enter the number of rows :  4

   *
  * *
 * * *
* * * *

In [3]:
num = int(input("Enter the number of rows : "))
for i in range(0,num):
    for j in range(0,num-i-1):
        print(end=" ")
    for j in range(0,2*i+1):
        print("*",end="")
    print()

Enter the number of rows :  5

    *
   ***
  *****
 *******
*********

In [4]:
def pyramid(rows):
    for i in range(rows):
        print(''*(rows-i-1)+'*'*(i+1))
pyramid(5)

*
**
***
****
*****

In [5]:
def pyramid(rows):
    for i in range(rows):
        print(''*(rows-i-1)+'*'*(2*i+1))
pyramid(5)

*
***
*****
*******
*********

In [6]:
num = int(input("Enter the number of rows : "))
for i in range(num,0,-1):
    for j in range(0,num-i):
        print(end=" ")
    for j in range(0,i):
        print("*",end=" ")
    print()

Enter the number of rows :  5

* * * * *
 * * * *
  * * *
   * *
    *

In [1]:
for i in range(1,11,2):
    print(i)

1
3
5
7
9

In [2]:
for i in range(5,0,-1):
    print(i)

5
4
3
2
1

In [7]:
def pyramid(rows):
    for i in range(rows):
        print(' ' * (rows - i - 1) + '* ' * (i + 1))
    for j in range(rows - 1, 0, -1):
        print(' ' * (rows - j) + '* ' * j)

pyramid(10)

         *
        * *
       * * *
      * * * *
     * * * * *
    * * * * * *
   * * * * * * *
  * * * * * * * *
 * * * * * * * * *
* * * * * * * * * *
 * * * * * * * * *
  * * * * * * * *
   * * * * * * *
    * * * * * *
     * * * * *
      * * * *
       * * *
        * *
         *

In [3]:
for row in range(7):
    for col in range(5):
        if ((col == 0 or col == 4) and row != 0) or ((row ==0 or row == 3) and (col > 0 and col < 4)):
            print('*',end="")
        else:
            print(end=" ")
    print()

 ***
*   *
*   *
*****
*   *
*   *
*   *

In [4]:
str1 = ""
for row in range(7):
    for col in range(5):
        if (col == 0 or col == 4) or ((row ==0 or row == 3) and (col > 0 and col < 4)):
            str1 = str1 + "*"
        else:
            str1 = str1 + " "
    str1 = str1 + "\n"
    
print(str1)

*****
*   *
*   *
*****
*   *
*   *
*   *

In [5]:
for row in range(7):
    for col in range(5):
        if (col==0 or col==4) or ((row==0 or row==3 or row==6) and (col > 0 and col < 4)):
            print("*",end="")
        else:
            print(end=" ")
    print()

*****
*   *
*   *
*****
*   *
*   *
*****

In [7]:
for row in range(7):
    for col in range(5):
        if (col==0) or (col==4 and row!=0 and row!=3 and row!=6) or ((row==0 or row==3 or row==6) and (col > 0 and col < 4)):
            print("*",end="")
        else:
            print(end=" ")
    print()

****
*   *
*   *
****
*   *
*   *
****

In [2]:
for row in range(7):
    for col in range(5):
        if (col==0) or ((row==0 or row==6) and (col>0)):
            print("*",end="")
        else:
            print(end=" ")
    print()

*****
*
*
*
*
*
*****

In [3]:
for row in range(7):
    for col in range(5):
        if (col==0 and (row!=0 and row!=6)) or ((row==0 or row==6) and (col>0)):
            print("*",end="")
        else:
            print(end=" ")
    print()

 ****
*
*
*
*
*
 ****

In [5]:
for row in range(7):
    for col in range(5):
        if (col==0) or (col==4 and (row!=0 and row!=6)) or ((row==0 or row==6) and (col>0 and col<4)):
            print("*",end="")
        else:
            print(end=" ")
    print()

****
*   *
*   *
*   *
*   *
*   *
****

In [6]:
for row in range(7):
    for col in range(5):
        if (col==0) or ((row==0 or row==3 or row==6) and (col>0)):
            print("*",end="")
        else:
            print(end=" ")
    print()

*****
*
*
*****
*
*
*****

In [7]:
for row in range(7):
    for col in range(5):
        if (col==0) or ((row==0 or row==3) and (col>0)):
            print("*",end="")
        else:
            print(end=" ")
    print()

*****
*
*
*****
*
*
*

In [1]:
for row in range(7):
    for col in range(6):
        if col==0 or (col==4 and (row!=1 and row!=2)) or ((row==0 or row==6) and (col>0 and col<4)) or (row==3 and (col==3 or col==5)):
            print("*",end="")
        else:
            print(end=" ")
    print()

*****
*
*
*  ***
*   *
*   *
*****

In [2]:
for row in range(7):
    for col in range(5):
        if (col==0 or col==4) or (row==3 and (col>0 and col<4)):
            print("*",end="")
        else:
            print(end=" ")
    print()

*   *
*   *
*   *
*****
*   *
*   *
*   *

In [1]:
for row in range(7):
    for col in range(5):
        if col==2 or ((row==0 or row==6) and col!=2):
            print("*",end="")
        else:
            print(end=" ")
    print()

*****
  *
  *
  *
  *
  *
*****

In [2]:
for row in range(7):
    for col in range(5):
        if col==2 or (row==0 and col!=2) or (row==6 and col<2):
            print("*",end="")
        else:
            print(end=" ")
    print()

*****
  *
  *
  *
  *
  *
***

In [4]:
i=0
j=4
for row in range(7):
    for col in range(5):
        if col==0 or (row==col+2 and col>1):
            print("*",end="")
        elif (row==i and col==j):
            print("*",end="")
            i = i+1
            j = j-1
        else:
            print(end=" ")
    print()

*   *
*  *
* *
**
* *
*  *
*   *

In [5]:
for row in range(7):
    for col in range(5):
        if col==0 or (row==6 and col>0):
            print("*",end="")
        else:
            print(end=" ")
    print()

*
*
*
*
*
*
*****

In [9]:
for row in range(7):
    for col in range(7):
        if col==0 or col==6 or ((row==col) and (col>0 and col<4)) or (row==1 and col==5) or (row==2 and col==4):
            print("*",end="")
        else:
            print(end=" ")
    print()

*     *
**   **
* * * *
*  *  *
*     *
*     *
*     *

In [2]:
for row in range(6):
    for col in range(6):
        if (col==0 or col==5) or (row==col and (col>0 and col<4)):
            print("*",end="")
        else:
            print(end=" ")
    print()

*    *
**   *
* *  *
*  * *
*    *
*    *

In [4]:
for row in range(7):
    for col in range(5):
        if ((col==0 or col==4) and (row!=0 and row!=6)) or ((row==0 or row==6) and (col>0 and col<4)):
            print("*",end="")
        else:
            print(end=" ")
    print()

 ***
*   *
*   *
*   *
*   *
*   *
 ***

In [7]:
for row in range(7):
    for col in range(5):
        if col==0 or (col==4 and (row==1 or row==2)) or ((row==0 or row==3) and (col>0 and col<4)):
            print("*",end="")
        else:
            print(end=" ")
    print()

****
*   *
*   *
****
*
*
*

In [10]:
for row in range(8):
    for col in range(5):
        if ((col==0 or col==4) and (row>0 and row<6)) or ((row==0 or row==6) and (col>0 and col<4)) or (col==1 and row==5) or (row==7 and col==3):
            print("*",end="")
        else:
            print(end=" ")
    print()

 ***
*   *
*   *
*   *
*   *
**  *
 ***
   *

In [3]:
for row in range(7):
    for col in range(5):
        if col==0 or (col==4 and (row!=0 and row!=3)) or ((row==0 or row==3) and (col>0 and col<4)):
            print("*",end="")
        else:
            print(end=" ")
    print()

****
*   *
*   *
****
*   *
*   *
*   *

In [4]:
for row in range(7):
    for col in range(5):
        if ((row==0 or row==3 or row==6) and (col>0 and col<4)) or (col==0 and (row>0 and row<3)) or (col==4 and (row>3 and row<6)):
            print("*",end="")
        else:
            print(end=" ")
    print()

 ***
*
*
 ***
    *
    *
 ***

In [5]:
for row in range(7):
    for col in range(5):
        if (row==0) or (col==2 and row>0):
            print("*",end="")
        else:
            print(end=" ")
    print()

*****
  *
  *
  *
  *
  *
  *

In [9]:
for row in range(7):
    for col in range(5):
        if ((col==0 or col==4) and row!=6) or (row==6 and (col>0 and col<4)) :
            print("*",end="")
        else:
            print(end=" ")
    print()

*   *
*   *
*   *
*   *
*   *
*   *
 ***

In [11]:
i = 0
j = 6

for row in range(4):
    for col in range(7):
        if (row==col):
            print("*",end="")
        elif row==i and col==j:
            print("*",end="")
            i = i+1
            j = j-1
        else:
            print(end=" ")
    print()

*     *
 *   *
  * *
   *

In [3]:
i = 0
j = 3

for row in range(4):
    for col in range(7):
        if col==0 or col==6 or (col==5 and row==2) or (col==4 and row==1):
            print("*",end="")
        elif row==i and col==j:
            print("*",end="")
            i = i+1
            j = j-1
        else:
            print(end=" ")
    print()

*  *  *
* * * *
**   **
*     *

In [6]:
i = 0
j = 4

for row in range(5):
    for col in range(5):
        if row==i and col==j:
            print("*",end="")
            i = i+1
            j = j-1
        elif row==col:
            print("*",end="")
        else:
            print(end=" ")
    print()

*   *
 * *
  *
 * *
*   *

In [11]:
for row in range(5):
    for col in range(5):
        if (col==2 and row>1) or (row==col and col<2) or (col==4 and row==0) or (col==3 and row==1):
            print("*",end="")
     else:
            print(end=" ")
    print()

*   *
 * *
  *
  *
  *

In [24]:
i = 1
j = 4

for row in range(6):
    for col in range(6):
        if (row==0 or row==5):
            print("*",end="")
        elif row==i and col==j:
            print("*",end="")
            i = i+1
            j = j-1
        else:
            print(end=" ")
    print()

******
    *
   *
  *
 *
******

In [15]:
n = int(input("Enter the number of rows : "))
for row in range(0,n):
    for col in range(0,n):
        if row==0 or col==(n-1) or row==col:
            print("*",end="")
        else:
            print(end=" ")
    print()

Enter the number of rows :  10

**********
 *       *
  *      *
   *     *
    *    *
     *   *
      *  *
       * *
        **
         *

In [1]:
n = int(input("Enter the number of rows : "))
num=1
for row in range(1,n+1):
    for col in range(1,row+1):
        print(num,end="")
        num = num+1
    print()

Enter the number of rows :  4

1
23
456
78910

In [2]:
string = input("Enter the string : ")
length = len(string)
for row in range(length):
    for col in range(row+1):
        print(string[col],end="")
    print()

Enter the string :  python

p
py
pyt
pyth
pytho
python

In [3]:
n = int(input("Enter the number of rows : "))
for row in range(n,0,-1):
    for col in range(1,row+1):
        print(col,end="")
    print()

Enter the number of rows :  4

1234
123
12
1

In [4]:
n = int(input("Enter the number of rows : "))
for row in range(n,0,-1):
    for col in range(1,row+1):
        print(row,end="")
    print()

Enter the number of rows :  4

4444
333
22
1

In [9]:
for row in range(1,5):
    for col in range(1,8):
        if row==4 or row+col==5 or col-row==3:
            print("*",end="")
        else:
            print(end=" ")
    print()

Enter the number of rows :  8

   *
  * *
 *   *
*******

In [10]:
n = int(input("Enter the number of rows : "))
for row in range(1,n+1):
    for col in range(1,2*n):
        if row==n or row+col==n+1 or col-row==n-1:
            print("*",end="")
        else:
            print(end=" ")
    print()

Enter the number of rows :  5

    *
   * *
  *   *
 *     *
*********

In [11]:
num = int(input("Enter the number of rows : "))
row = 0
while row<num:
    star = row+1
    while star>0:
        print("*",end="")
        star = star-1
    row=row+1
    print()

Enter the number of rows :  5

*
**
***
****
*****